.p {
    width:75vh;
    height: 40vh;
    margin : 10px 10px;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}

.p-browser{
    height: 50px;
    background-color: rgb(230, 82, 238);
    display: flex;
    align-items: center;
    position:sticky;
    z-index: 2;

}
.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: blueviolet;
    margin: 3px;
}
.p-img{
    width: 100%;
    transition: all 10s ease;
}

.p:hover .p-img{
    transform:translateY(-50%);

}